@model Student



@{
    var studentName =  Model.FirstName;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>@studentName</h2>



</body>
</html>
