@model  Student


@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListStudents</title>
</head>
<body>
    <h2>List of Students:</h2>
    @foreach (Student student in students)
{

}
</body>
</html>
